/* src/components/UserCard.css */
.user-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    width: 220px;
    text-align: center;
    margin: 10px;
    background-color: #f9f9f9f9;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user-card img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.user-card h3{
    margin: 10-x 0 5px;
    
}